{% extends "layouts/base.html" %}


{% block content %}
<main>
  <div class="px-4 pt-6">

  <div class="container mx-auto max-w-full mx-auto">

    <!-- Info component -->
    <div class="flex flex-wrap ">
      <div class="w-full">
        <div class="border mb-4 dark:bg-gray-800 dark:border-gray-600 rounded-lg dark:text-white">
          <div class="py-3 rounded-t-lg px-3 mb-0 bg-gray-200 border-b-1 border-gray-300 text-gray-900 bg-gray-100 dark:bg-gray-700 dark:text-white px-4">
            <h6 class="">
              Async Tasks Manager
            </h6>
          </div>
          <div class="flex-auto p-6 px-0 pt-0 pb-2 px-4 mt-3">
            
            {% if scripts %}
              <p>
                Superusers are able to create/cancel tasks.
                <br />
                Ordinary users can only view execution logs and running tasks (no other interactions allowed).
              </p>
            {% else %}
              <p class="text-red-600">
                No scripts detected - Please update the configuration (CELERY_SCRIPTS_DIR, CELERY_LOGS_DIR)
              </p>
            {% endif %}
          
          </div>
        </div>
      </div>
    </div>
    
    <!-- Task Manager Component -->
    <div class="flex flex-wrap ">
      <div class="w-full">
        <div class="border mb-4 dark:bg-gray-800 dark:border-gray-600 rounded-lg">
          <div class="py-3 rounded-t-lg dark:bg-gray-800 dark:text-white px-4">
            <h6>Tasks List</h6>
          </div>
          <div class="flex-auto p-6 px-0 pt-0">
            <div class="block w-full overflow-auto scrolling-touch p-0">
              <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                <thead class="bg-gray-100 dark:bg-gray-700"> 
                  <tr>
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">Name</th>
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">Script</th>
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">STATE</th>
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                      Script
                    </th>
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                      ARGS
                    </th>                   
     
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">Action</th>

                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">

                  <!-- Running Task -->
                  <form action="{{ url_for('home_blueprint.run_script_route') }}" method="post">
                    <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <div class="flex px-2 py-1">
                          <div class="mx-3">
                            <i class="fa fa-file-code-o fa-2x"></i>
                          </div>
                          <div class="flex flex-col">
                            {% if tasks %}
                              <h6 class="mb-0 text-sm">
                                {{ tasks.task_name }}
                              </h6>
                            {% else %}
                              <h6 class="mb-0 text-sm">
                                execute_script
                              </h6>
                            {% endif %}
                            <p class="text-xs text-gray-600 mb-0 dark:text-gray-400">
                              Celery Task
                            </p>
                          </div>
                        </div>
                      </td>
                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <p class="text-xs font-bold mb-0 ">
                          {% if tasks %}
                            <h6 class="mb-0 text-sm">
                              {{ tasks.periodic_task_name|name_from_path }}
                            </h6>
                          {% endif %}
                        </p>
                        <div class="text-xs text-gray-600 mb-0 dark:text-gray-400" >
                          Latest status: {% if tasks %} {{ tasks.status }} {% endif %}
                        </div>                          
                      </td>
                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {% if tasks.status == "STARTED" %}
                          <span class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded bg-yellow-500">RUNNING</span>
                        {% elif tasks.status == "FAILURE" %}
                          <span class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded bg-red-600">FINISHED</span>
                        {% elif tasks.status == "REVOKED" %}
                        <span class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded bg-gray-600">CANCELLED</span>
                        {% else %}
                          <span class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded bg-green-500">FINISHED</span>                          
                        {% endif %}
                      </td>
                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <span class="text-gray-600 text-xs font-bold">
                          <select class=" w-full py-1 px-2 mb-1 border border-gray-200 rounded dark:border-gray-600 dark:bg-gray-700 dark:text-white" name="script" >
                            {% for item in scripts %}
                              <option value="{{item}}">{{ item }}</option>
                            {% endfor %}
                          </select>
                        </span>
                      </td>
                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <span class="text-gray-600 text-xs font-bold">
                          <input class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 dark:border-gray-600 rounded bg-gray-100 dark:bg-gray-700 dark:text-white" type="text" id="args" name="args">
                        </span>
                      </td>
                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">                            
                        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="submit">
                          Execute
                        </button>
                      </td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Task Logs -->
    <div class="flex flex-wrap ">
      <div class="w-full">
        <div class="border mb-4 dark:bg-gray-800 dark:border-gray-600 rounded-lg">
          <div class="rounded-t-lg py-3 dark:bg-gray-800 dark:text-white px-4">
            <h6>
              LOGS
            </h6>
          </div>
          <div class="flex-auto px-0 pt-0 pb-2">
            <div class="block w-full overflow-auto scrolling-touch p-0">
              <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                <thead class="bg-gray-100 dark:bg-gray-700">
                  <tr>
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">Task</th>
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">Status</th>
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">Start TS</th>
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">End TS</th>
                    <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">Logs</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                  {% for result in task_results %}
                    <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">

                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <div class="flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">
                              {{result.id}} - {{result.task_name}}
                            </h6>
                            <p class="text-xs text-gray-600 mb-0">
                              {{result.periodic_task_name|name_from_path}}
                            </p>
                          </div>
                        </div>
                      </td>

                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <p class="text-sm 
                          {% if result.status == 'SUCCESS' %} text-success
                          {% elif result.status == 'FAILURE' %} text-danger
                          {% else %} text-warning {% endif %}
                           mb-0"
                        >
                        {% if result.status %}
                          {{result.status}}
                        {% else %}
                          RUNNING
                        {% endif %}
                        </p>
                      </td>
                      
                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <p class="text-sm mb-0">{{result.date_created|date_format}}</p>
                      </td>
                      
                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <p class="text-sm mb-0">{{result.date_done|date_format}}</p>
                      </td>      
                      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <p class="text-sm mb-0">
                          <a data-bs-toggle="modal" data-bs-target="#view-log-{{result.id}}" href="#">View LOG</a> 
                        </p>
                      </td>                                               
                    </tr>

                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal opacity-0" 
       id="log-modal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title mx-auto" id="modal-title-default">
            Task LOG
          </h6>
        </div>
        <div class="modal-body">
          <p id="log-content">
          </p>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline font-normal text-blue-700 bg-transparent mx-auto" data-bs-dismiss="modal">Dismiss</button>
        </div>
      </div>
    </div>
  </div>  
</div>
</main>

{% endblock content %}